# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build outputs
dist/
build/
storybook-static/

# Storybook cache
.storybook-out/
.out/
.cache/
public/

# Logs
*.log

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
